* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
button:hover {
  cursor: pointer;
  border: none;
}
.App {
  width: 100vw;
  height: 100vh;
}

.nav {
  background-color: #016779;
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
.nav .left {
  flex: 80%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-right: 5rem;
}
.nav .left .links {
  max-height: 80px;
}
.nav .left .links li {
  list-style-type: none;
  display: inline;
}
.nav .left .links li a {
  color: #fff;
  font-size: 1.3rem;
  margin-left: 5rem;
  text-decoration: none;
}
.nav .left .links li a:hover {
  color: #c48f00;
  font-size: 1.5rem;
}
.nav .right {
  flex: 20%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 5rem;
}
.right .logout {
  height: 32px;
  width: 80px;
  font-size: 16px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  text-decoration: none;
  font-size: 1.2rem;
  color: #c48f00;
}

.right .logout:hover {
  border-radius: 4px;
  background: #c48f00;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.right .avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.tabs {
  font-size: 1rem !important;
}
.tabs:hover {
  font-size: 1.2rem !important;
  color: #c48f00 !important;
}
.css-13xfq8m-MuiTabPanel-root {
  padding: 0px !important;
}
.login-box {
  width: 400px;
  height: 380px;
  border: 2px solid #016779;
  border-radius: 8px;
  margin: 0 auto;
  align-items: center;
  margin-top: 100px;
}
.login-box .header {
  background: #016779;
  padding: 6px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.footer {
  margin: 24px !important;
  color: #ccc;
}
.input {
  margin-top: 10px;
}

/*Question detail*/
.detail-card {
  height: 220px;
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}
.detail-card .avatar {
  float: left;
  margin-left: 1.4rem;
  margin-top: 2.5rem;
}
.detail-right {
  margin-left: 3rem !important;
  margin-top: 0.9rem !important;
  padding-left: 2rem !important;
  border-left: 2px solid #ccc !important;
}
.css-u4tvz2-MuiFormLabel-root {
  color: #016779 !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 900 !important;
  font-size: 1.2rem !important;
  line-height: 1.4375em !important;
  letter-spacing: 0.00938em !important;
  padding: 0;
  position: relative !important;
}
